:root {
  --backpaper: hsl(47, 88%, 63%);
}
@font-face {
  font-family: Figtree;
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}
* {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  font-size: 16px;
  font-family: Figtree;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8%;
  background-color: var(--backpaper);
  text-align: left;
  width: auto;
  height: auto;
}
.card {
  width: 365px;
  height: 20%;
  margin: 90px;
  padding: 0%;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 10px 0px rgb(0, 0, 0);
}
.content {
  text-align: left;
  padding: 5%;
}
img {
  border-radius: 10px;
  width: auto;
}
#learning {
  background-color: var(--backpaper);
  font-weight: 800;
  margin-top: 20px;
  margin-right: 73%;
  padding: 10px;
  border-radius: 10px;
}
#person {
  margin-top: 25px;
  margin-right: 46%;
  font-weight: 800;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
h2:hover {
  color: var(--backpaper);
  cursor: pointer;
}
